@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: rgb(255 255 255 / 1);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

main {
  background-color: var(--very-dark-blue);
  min-height: 100vh;
}

.rating-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.rating-card {
  background-color: var(--dark-blue);
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
}
